<div class="container text-center">
    <div class="row p-4">
        <div class="col"></div>
        <div class="col">
            <div class="card" style="width: 25rem;">
                <img src="../assets/15.png" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-titel">ผู้พัฒนาระบบ</h5><br>
                    <p class="card-text" style="color: #585757;">นายนพรัตน์ มุณีอุปถัมภ์<br>
                        หลักสูตรวิทยการคอมพิวเตอร์</p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>