<div class="modal" tabindex="-1" id="registerModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div style="background-color: #6daad3;">
          <div class="modal-header">
            <h5 class="modal-title">
              <a class="text-black">สมัครสมาชิก
              </a>
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
  
        <div class="container-fluid">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" style="color: #333333;">ชื่อสกุล</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" style="color: #333333;">ที่อยู่</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" style="color: #333333;">หมายเลขโทรศัพท์</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label" style="color: #333333;">Username</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" style="color: #333333;">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
          </form>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">สมัครสมาชิก</button>
          </div>
        </div>
      </div>
    </div>
