<br>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg " style="background-color: #4ad8ad;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: rgb(33, 34, 32);">
        <img src="../assets/logo.png" alt="">
        ระบบยืมคืนอุปกรณ์
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: rgb(33, 34, 32);">หน้าแรก</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/step" style="color: rgb(33, 34, 32);">ขั้นตอนการยืม</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/equip" style="color: rgb(33, 34, 32);">รายการอุปกรณ์</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dev" style="color: rgb(33, 34, 32);">ผู้พํฒนาระบบ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: rgb(33, 34, 32);"
              data-bs-toggle="modal" data-bs-target="#registerModal">สมัครสมาชิก</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: rgb(33, 34, 32);"
              data-bs-toggle="modal" data-bs-target="#loginModal">เข้าสู่ระบบ</a>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" style="color: rgb(33, 34, 32);">ค้นหา</button>
          <img src="../assets/15.png" alt="มาหลังแล้วยังไง" width="50" height="50">
        </form>
      </div>
    </div>
  </nav>
  <br>
  </div>